<a href="https://colab.research.google.com/github/1konlawat/PHASE-0/blob/main/Untitled23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test.csv

In [ ]:
import pandas as pd
df = pd.read_csv('test.csv')

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
95,987,3,"Tenglin, Mr. Gunnar Isidor",male,25.0,0,0,350033,7.7958,NaN,S
96,988,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,19877,78.8500,C46,S
97,989,3,"Makinen, Mr. Kalle Edvard",male,29.0,0,0,STON/O 2. 3101268,7.9250,NaN,S
98,990,3,"Braf, Miss. Elin Ester Maria",female,20.0,0,0,347471,7.8542,NaN,S
99,991,3,"Nancarrow, Mr. William Henry",male,33.0,0,0,A./5. 3338,8.0500,NaN,S

In [ ]:
#การใช้. query()
df.query("Sex == 'female' and Age < 20")

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.00,0,0,2657,7.2292,NaN,C
66,958,3,"Burns, Miss. Mary Delia",female,18.00,0,0,330963,7.8792,NaN,Q
87,979,3,"Badman, Miss. Emily Louisa",female,18.00,0,0,A/4 31416,8.0500,NaN,S
104,996,3,"Thomas, Mrs. Alexander (Thamine Thelma"")""",female,16.00,1,1,2625,8.5167,NaN,C
113,1005,3,"Buckley, Miss. Katherine",female,18.50,0,0,329944,7.2833,NaN,Q
117,1009,3,"Sandstrom, Miss. Beatrice Irene",female,1.00,1,1,PP 9549,16.7000,G6,S
120,1012,2,"Watt, Miss. Bertha J",female,12.00,0,0,C.A. 33595,15.7500,NaN,S
125,1017,3,"Cribb, Miss. Laura Alice",female,17.00,0,1,371362,16.1000,NaN,S
140,1032,3,"Goodwin, Miss. Jessie Allis",female,10.00,5,2,CA 2144,46.9000,NaN,S
175,1067,2,"Brown, Miss. Edith Eileen",female,15.00,0,2,29750,39.0000,NaN,S
182,1074,1,"Marvin, Mrs. Daniel Warner (Mary Graham Carmic...",female,18.00,1,0,113773,53.1000,D30,S
197,1089,3,"Nilsson, Miss. Berta Olivia",female,18.00,0,0,347066,7.7750,NaN,S
203,1095,2,"Quick, Miss. Winifred Vera",female,8.00,1,1,26360,26.0000,NaN,S
238,1130,2,"Hiltunen, Miss. Marta",female,18.00,1,1,250650,13.0000,NaN,S
250,1142,2,"West, Miss. Barbara J",female,0.92,1,2,C.A. 34651,27.7500,NaN,S
258,1150,2,"Bentham, Miss. Lilian W",female,19.00,0,0,28404,13.0000,NaN,S
263,1155,3,"Klasen, Miss. Gertrud Emilia",female,1.00,1,1,350405,12.1833,NaN,S
283,1175,3,"Touma, Miss. Maria Youssef",female,9.00,1,1,2650,15.2458,NaN,C
284,1176,3,"Rosblom, Miss. Salli Helena",female,2.00,1,1,370129,20.2125,NaN,S
296,1188,2,"Laroche, Miss. Louise",female,1.00,1,2,SC/Paris 2123,41.5792,NaN,C
315,1207,3,"Hagardon, Miss. Kate",female,17.00,0,0,AQ/3. 30631,7.7333,NaN,Q
326,1218,2,"Becker, Miss. Ruth Elizabeth",female,12.00,2,1,230136,39.0000,F4,S
333,1225,3,"Nakid, Mrs. Said (Waika Mary"" Mowad)""",female,19.00,1,1,2653,15.7417,NaN,C
345,1237,3,"Abelseth, Miss. Karen Marie",female,16.00,0,0,348125,7.6500,NaN,S
354,1246,3,"Dean, Miss. Elizabeth Gladys Millvina""""",female,0.17,1,2,C.A. 2315,20.5750,NaN,S
383,1275,3,"McNamee, Mrs. Neal (Eileen O'Leary)",female,19.00,1,0,376566,16.1000,NaN,S
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.00,1,0,13695,60.0000,C31,S
409,1301,3,"Peacock, Miss. Treasteall",female,3.00,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S

In [ ]:
#การใช้  fiter()
df.filter(items=['Sex','Age']).query("Sex == 'female'")

        Sex   Age
1    female  47.0
4    female  22.0
6    female  30.0
8    female  18.0
12   female  23.0
..      ...   ...
409  female   3.0
410  female   NaN
411  female  37.0
412  female  28.0
414  female  39.0

[152 rows x 2 columns]

In [ ]:
df.filter(items=['Sex','Age','Name','Fare']).query("Sex == 'female' and Age > 40")

        Sex   Age                                               Name      Fare
1    female  47.0                   Wilkes, Mrs. James (Ellen Needs)    7.0000
14   female  47.0  Chaffee, Mrs. Herbert Fuller (Carrie Constance...   61.1750
19   female  45.0              Assaf Khalil, Mrs. Mariana (Miriam")"    7.2250
24   female  48.0    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  262.3750
44   female  45.0   Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)   52.5542
48   female  60.0    Bucknell, Mrs. William Robert (Emma Eliza Ward)   76.2917
69   female  60.0                Fortune, Mrs. Mark (Mary McDougald)  263.0000
77   female  55.0  Cornell, Mrs. Robert Clifford (Malvina Helen L...   25.7000
96   female  76.0  Cavendish, Mrs. Tyrell William (Julia Florence...   78.8500
100  female  43.0  Stengel, Mrs. Charles Emil Henry (Annie May Mo...   55.4417
114  female  63.0             Straus, Mrs. Isidor (Rosalie Ida Blun)  221.7792
179  female  64.0  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...   83.1583
213  female  60.0       Howard, Mrs. Benjamin (Ellen Truelove Arman)   26.0000
218  female  50.0       Widener, Mrs. George Dunton (Eleanor Elkins)  211.5000
224  female  53.0   Candee, Mrs. Edward (Helen Churchill Hungerford)   27.4458
239  female  48.0        Douglas, Mrs. Walter Donald (Mahala Dutton)  106.4250
240  female  55.0          Lindstrom, Mrs. Carl Johan (Sigrid Posse)   27.7208
241  female  45.0                      Christy, Mrs. (Alice Frances)   30.0000
305  female  64.0  Crosby, Mrs. Edward Gifford (Catherine Elizabe...   26.5500
309  female  45.0         Hansen, Mrs. Claus Peter (Jennie L Howard)   14.1083
314  female  55.0              White, Mrs. John Stuart (Ella Holmes)  135.6333
330  female  48.0  Davies, Mrs. John Morgan (Elizabeth Agnes Mary...   36.7500
343  female  58.0  Cardeza, Mrs. James Warburton Martinez (Charlo...  512.3292
350  female  45.0       Greenfield, Mrs. Leo David (Blanche Strouse)   63.3583
356  female  59.0     Brown, Mrs. John Murray (Caroline Lane Lamson)   51.4792
368  female  45.0            Gibson, Mrs. Leonard (Pauline C Boeson)   59.4000
374  female  54.0              Dodge, Mrs. Washington (Ruth Vidaver)   81.8583
375  female  45.0                           Bowen, Miss. Grace Scott  262.3750
391  female  51.0     Lines, Mrs. Ernest H (Elizabeth Lindsey James)   39.4000
397  female  48.0  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...   79.2000

In [ ]:
df.filter(items=['Name','Age','Pclass','Fare']).query("(Age.isnull() or Age >= 60) and Pclass == 1")

                                                  Name   Age  Pclass      Fare
22                Flegenheim, Mrs. Alfred (Antoinette)   NaN       1   31.6833
41                         Franklin, Mr. Thomas Parham   NaN       1   26.5500
48     Bucknell, Mrs. William Robert (Emma Eliza Ward)  60.0       1   76.2917
69                 Fortune, Mrs. Mark (Mary McDougald)  60.0       1  263.0000
81                                  Straus, Mr. Isidor  67.0       1  221.7792
96   Cavendish, Mrs. Tyrell William (Julia Florence...  76.0       1   78.8500
114             Straus, Mrs. Isidor (Rosalie Ida Blun)  63.0       1  221.7792
142                         Ryerson, Mr. Arthur Larned  61.0       1  262.3750
146                        Hilliard, Mr. Herbert Henry   NaN       1   51.8625
148                          Crafton, Mr. John Bertram   NaN       1   26.5500
168  Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...   NaN       1   27.7208
179  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...  64.0       1   83.1583
191                             Salomon, Mr. Abraham L   NaN       1   26.0000
205                          Omont, Mr. Alfred Fernand   NaN       1   25.7417
236                           Warren, Mr. Frank Manley  64.0       1   75.2500
266              Chisholm, Mr. Roderick Robert Crispin   NaN       1    0.0000
290                Rheims, Mr. George Alexander Lucien   NaN       1   39.6000
305  Crosby, Mrs. Edward Gifford (Catherine Elizabe...  64.0       1   26.5500

In [ ]:
df.loc[(df['Age']>30) & (df['Sex']=='male'), ['Name','Age']]

                             Name   Age
0                Kelly, Mr. James  34.5
2       Myles, Mr. Thomas Francis  62.0
11     Jones, Mr. Charles Cresson  46.0
13           Howard, Mr. Benjamin  63.0
16              Keane, Mr. Daniel  35.0
..                            ...   ...
399      Conlon, Mr. Thomas Henry  31.0
401               Gale, Mr. Harry  38.0
404  Frauenthal, Mr. Isaac Gerald  43.0
407    Widener, Mr. George Dunton  50.0
415  Saether, Mr. Simon Sivertsen  38.5

[82 rows x 2 columns]

In [ ]:
df.assign(mean_fare = df.groupby('Pclass')['Fare'].transform('mean')
).query("Fare > mean_fare")

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,mean_fare
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S,22.202104
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S,12.459678
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S,22.202104
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C,22.202104
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C,94.280297
...,...,...,...,...,...,...,...,...,...,...,...,...
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S,94.280297
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C,94.280297
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S,12.459678
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,94.280297
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,12.459678

In [ ]:
df.loc[(df['Sex'] == 'female') & (df['Age'] > 30), ['Name', 'Sex', 'Age']]

                                                  Name     Sex   Age
1                     Wilkes, Mrs. James (Ellen Needs)  female  47.0
14   Chaffee, Mrs. Herbert Fuller (Carrie Constance...  female  47.0
19               Assaf Khalil, Mrs. Mariana (Miriam")"  female  45.0
24     Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  female  48.0
32            Dean, Mrs. Bertram (Eva Georgetta Light)  female  33.0
44    Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)  female  45.0
48     Bucknell, Mrs. William Robert (Emma Eliza Ward)  female  60.0
49      Coutts, Mrs. William (Winnie Minnie" Treanor)"  female  36.0
59                         Chaudanson, Miss. Victorine  female  36.0
69                 Fortune, Mrs. Mark (Mary McDougald)  female  60.0
74                                Geiger, Miss. Amalie  female  35.0
77   Cornell, Mrs. Robert Clifford (Malvina Helen L...  female  55.0
96   Cavendish, Mrs. Tyrell William (Julia Florence...  female  76.0
100  Stengel, Mrs. Charles Emil Henry (Annie May Mo...  female  43.0
112                           Evans, Miss. Edith Corse  female  36.0
114             Straus, Mrs. Isidor (Rosalie Ida Blun)  female  63.0
122                    Schabert, Mrs. Paul (Emma Mock)  female  35.0
141                               Daniels, Miss. Sarah  female  33.0
153     Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)  female  36.0
178   Becker, Mrs. Allen Oliver (Nellie E Baumgardner)  female  36.0
179  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...  female  64.0
206                           McGowan, Miss. Katherine  female  35.0
208                      Rosenbaum, Miss. Edith Louise  female  33.0
213       Howard, Mrs. Benjamin (Ellen Truelove Arman)  female  60.0
214             Andersson, Miss. Ida Augusta Margareta  female  38.0
218       Widener, Mrs. George Dunton (Eleanor Elkins)  female  50.0
224   Candee, Mrs. Edward (Helen Churchill Hungerford)  female  53.0
239        Douglas, Mrs. Walter Donald (Mahala Dutton)  female  48.0
240          Lindstrom, Mrs. Carl Johan (Sigrid Posse)  female  55.0
241                      Christy, Mrs. (Alice Frances)  female  45.0
305  Crosby, Mrs. Edward Gifford (Catherine Elizabe...  female  64.0
309         Hansen, Mrs. Claus Peter (Jennie L Howard)  female  45.0
313                                Carr, Miss. Jeannie  female  37.0
314              White, Mrs. John Stuart (Ella Holmes)  female  55.0
324                             Kreuchen, Miss. Emilie  female  39.0
330  Davies, Mrs. John Morgan (Elizabeth Agnes Mary...  female  48.0
343  Cardeza, Mrs. James Warburton Martinez (Charlo...  female  58.0
347    Whabee, Mrs. George Joseph (Shawneene Abi-Saab)  female  38.0
349                             Walcroft, Miss. Nellie  female  31.0
350       Greenfield, Mrs. Leo David (Blanche Strouse)  female  45.0
356     Brown, Mrs. John Murray (Caroline Lane Lamson)  female  59.0
362       Ware, Mrs. John James (Florence Louise Long)  female  31.0
368            Gibson, Mrs. Leonard (Pauline C Boeson)  female  45.0
371                          Wilson, Miss. Helen Alice  female  31.0
374              Dodge, Mrs. Washington (Ruth Vidaver)  female  54.0
375                           Bowen, Miss. Grace Scott  female  45.0
391     Lines, Mrs. Ernest H (Elizabeth Lindsey James)  female  51.0
397  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...  female  48.0
411    Minahan, Mrs. William Edward (Lillian E Thorpe)  female  37.0
414                       Oliva y Ocana, Dona. Fermina  female  39.0

In [ ]:
#loc
df.loc[
    (df['Sex']== 'female') &
    (df['Age'].notnull()) &
    (df['Pclass'].isin([1,2])),
    ['Name','Pclass','Sex','Age','Fare']
 ]

,Name,Pclass,Sex,Age,Fare
12,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",1,female,23.0,82.2667
14,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",1,female,47.0,61.1750
15,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",2,female,24.0,27.7208
24,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",1,female,48.0,262.3750
26,"Ostby, Miss. Helene Ragnhild",1,female,22.0,61.9792
...,...,...,...,...,...
397,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,female,48.0,79.2000
400,"Bonnell, Miss. Caroline",1,female,30.0,164.8667
402,"Gibson, Miss. Dorothy Winifred",1,female,22.0,59.4000
411,"Minahan, Mrs. William Edward (Lillian E Thorpe)",1,female,37.0,90.0000
414,"Oliva y Ocana, Dona. Fermina",1,female,39.0,108.9000

In [ ]:
df['mean_fare_by_class'] = df.groupby('Pclass')['Fare'].transform('mean')
df.loc[df['Fare'] > df['mean_fare_by_class']]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,mean_fare_by_class
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S,22.202104
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S,12.459678
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S,22.202104
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C,22.202104
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C,94.280297
...,...,...,...,...,...,...,...,...,...,...,...,...
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S,94.280297
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C,94.280297
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S,12.459678
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,94.280297
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,12.459678

In [ ]:
df['mean_fare_by_class1'] = df.groupby('Pclass')['Fare'].transform('mean')
df.loc[df['Fare'] > df['mean_fare_by_class1']]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,mean_fare_by_class,mean_fare_by_class1
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S,22.202104,22.202104
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S,12.459678,12.459678
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S,22.202104,22.202104
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C,22.202104,22.202104
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C,94.280297,94.280297
...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S,94.280297,94.280297
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C,94.280297,94.280297
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S,12.459678,12.459678
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,94.280297,94.280297
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,12.459678,12.459678

In [ ]:
df['Age_mean_by_class'] = df.groupby('Pclass')['Age'].transform('mean')

df.loc[
    (df['Sex'] == 'female') &
    (df['Age'] > df['Age_mean_by_class']),
    ['Name','Sex','Age', 'Pclass']
      ]

                                                  Name     Sex   Age  Pclass
1                     Wilkes, Mrs. James (Ellen Needs)  female  47.0       3
6                                 Connolly, Miss. Kate  female  30.0       3
14   Chaffee, Mrs. Herbert Fuller (Carrie Constance...  female  47.0       1
18                        Ilmakangas, Miss. Ida Livija  female  27.0       3
19               Assaf Khalil, Mrs. Mariana (Miriam")"  female  45.0       3
24     Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  female  48.0       1
32            Dean, Mrs. Bertram (Eva Georgetta Light)  female  33.0       3
43               Corbett, Mrs. Walter H (Irene Colvin)  female  30.0       2
44    Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)  female  45.0       1
48     Bucknell, Mrs. William Robert (Emma Eliza Ward)  female  60.0       1
49      Coutts, Mrs. William (Winnie Minnie" Treanor)"  female  36.0       3
69                 Fortune, Mrs. Mark (Mary McDougald)  female  60.0       1
72                      Nieminen, Miss. Manta Josefina  female  29.0       3
77   Cornell, Mrs. Robert Clifford (Malvina Helen L...  female  55.0       1
86                                  Barry, Miss. Julia  female  27.0       3
96   Cavendish, Mrs. Tyrell William (Julia Florence...  female  76.0       1
100  Stengel, Mrs. Charles Emil Henry (Annie May Mo...  female  43.0       1
114             Straus, Mrs. Isidor (Rosalie Ida Blun)  female  63.0       1
119    Chapman, Mrs. John Henry (Sara Elizabeth Lawry)  female  29.0       2
153     Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)  female  36.0       3
159                Peacock, Mrs. Benjamin (Edith Nile)  female  26.0       3
165         Kink-Heilmann, Mrs. Anton (Luise Heilmann)  female  26.0       3
178   Becker, Mrs. Allen Oliver (Nellie E Baumgardner)  female  36.0       2
179  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...  female  64.0       1
206                           McGowan, Miss. Katherine  female  35.0       3
213       Howard, Mrs. Benjamin (Ellen Truelove Arman)  female  60.0       2
214             Andersson, Miss. Ida Augusta Margareta  female  38.0       3
218       Widener, Mrs. George Dunton (Eleanor Elkins)  female  50.0       1
220                     Duran y More, Miss. Florentina  female  30.0       2
224   Candee, Mrs. Edward (Helen Churchill Hungerford)  female  53.0       1
239        Douglas, Mrs. Walter Donald (Mahala Dutton)  female  48.0       1
240          Lindstrom, Mrs. Carl Johan (Sigrid Posse)  female  55.0       1
241                      Christy, Mrs. (Alice Frances)  female  45.0       2
248           Hold, Mrs. Stephen (Annie Margaret Hill)  female  29.0       2
262  Wells, Mrs. Arthur Henry (Addie" Dart Trevaskis)"  female  29.0       2
291             Daly, Miss. Margaret Marcella Maggie""  female  30.0       3
305  Crosby, Mrs. Edward Gifford (Catherine Elizabe...  female  64.0       1
309         Hansen, Mrs. Claus Peter (Jennie L Howard)  female  45.0       3
313                                Carr, Miss. Jeannie  female  37.0       3
314              White, Mrs. John Stuart (Ella Holmes)  female  55.0       1
330  Davies, Mrs. John Morgan (Elizabeth Agnes Mary...  female  48.0       2
343  Cardeza, Mrs. James Warburton Martinez (Charlo...  female  58.0       1
347    Whabee, Mrs. George Joseph (Shawneene Abi-Saab)  female  38.0       3
349                             Walcroft, Miss. Nellie  female  31.0       2
350       Greenfield, Mrs. Leo David (Blanche Strouse)  female  45.0       1
356     Brown, Mrs. John Murray (Caroline Lane Lamson)  female  59.0       1
359  Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...  female  30.0       3
362       Ware, Mrs. John James (Florence Louise Long)  female  31.0       2
368            Gibson, Mrs. Leonard (Pauline C Boeson)  female  45.0       1
374              Dodge, Mrs. Washington (Ruth Vidaver)  female  54.0       1
375                           Bowen, Miss. Grace Scott  female  45.0       1
391     Lines, Mrs. Ernest H (Elizabeth Lindsey James)  female  51.0       1
397  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...  female  48.0       1
412                     Henriksson, Miss. Jenny Lovisa  female  28.0       3

In [ ]:
df['Age_mean_by_class'] = df.groupby('Pclass')['Age'].transform('mean')
df['fare_by_class']     = df.groupby('Pclass')['Fare'].transform('mean')

df.loc[
    (df['Sex'] == 'female') &
    (df['Age'] > df['Age_mean_by_class']) &
    (df['Fare'] > df['fare_by_class']),
    ['Name','Sex','Age','Pclass', 'Fare']]

,Name,Sex,Age,Pclass,Fare
24,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,262.3750
32,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,33.0,3,20.5750
49,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",female,36.0,3,15.9000
69,"Fortune, Mrs. Mark (Mary McDougald)",female,60.0,1,263.0000
114,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,63.0,1,221.7792
119,"Chapman, Mrs. John Henry (Sara Elizabeth Lawry)",female,29.0,2,26.0000
159,"Peacock, Mrs. Benjamin (Edith Nile)",female,26.0,3,13.7750
165,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",female,26.0,3,22.0250
178,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)",female,36.0,2,39.0000
213,"Howard, Mrs. Benjamin (Ellen Truelove Arman)",female,60.0,2,26.0000
218,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50.0,1,211.5000
239,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.0,1,106.4250
241,"Christy, Mrs. (Alice Frances)",female,45.0,2,30.0000
248,"Hold, Mrs. Stephen (Annie Margaret Hill)",female,29.0,2,26.0000
262,"Wells, Mrs. Arthur Henry (Addie"" Dart Trevaskis)""",female,29.0,2,23.0000
309,"Hansen, Mrs. Claus Peter (Jennie L Howard)",female,45.0,3,14.1083
314,"White, Mrs. John Stuart (Ella Holmes)",female,55.0,1,135.6333
330,"Davies, Mrs. John Morgan (Elizabeth Agnes Mary...",female,48.0,2,36.7500
343,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.0,1,512.3292
359,"Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...",female,30.0,3,15.5500
375,"Bowen, Miss. Grace Scott",female,45.0,1,262.3750

In [ ]:
df.assign(
    mean_fare_by_class = df.groupby('Pclass')['Fare'].transform('mean'),
    Age_by_class      = df.groupby('Pclass')['Age'].transform('mean')
).query(
    "'Fare' > 'mean_fare_by_class' and
    'Age' > 'fare_by_class'"
)[['Name','Sex','Age','Pclass','Fare']]

SyntaxError: unterminated string literal (detected at line 5) (ipython-input-2469144040.py, line 5)

In [ ]:
df.assign(
    mean_fare_by_class = df.groupby('Pclass')['Fare'].transform('mean'),
    Age_by_class      = df.groupby('Pclass')['Age'].transform('mean')
).query(
    "Fare > mean_fare_by_clas and Age >         Age_by_class "
)[['Name','Sex','Age','Pclass','Fare']]

UndefinedVariableError: name 'mean_fare_by_clas' is not defined

In [ ]:
df.assign(
    mean_fare_by_class = df.groupby('Pclass')['Fare'].transform('mean'),
    Age_by_class      = df.groupby('Pclass')['Age'].transform('mean')
).query(
    "Fare > mean_fare_by_class and Age >         Age_by_class "
)[['Name','Sex','Age','Pclass','Fare']]

,Name,Sex,Age,Pclass,Fare
13,"Howard, Mr. Benjamin",male,63.0,2,26.0000
24,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,262.3750
25,"Robins, Mr. Alexander A",male,50.0,3,14.5000
30,"Louch, Mr. Charles Alexander",male,50.0,2,26.0000
32,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,33.0,3,20.5750
40,"Karun, Mr. Franz",male,39.0,3,13.4167
49,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",female,36.0,3,15.9000
69,"Fortune, Mrs. Mark (Mary McDougald)",female,60.0,1,263.0000
81,"Straus, Mr. Isidor",male,67.0,1,221.7792
105,"Holthen, Mr. Johan Martin",male,28.0,3,22.5250
114,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,63.0,1,221.7792
119,"Chapman, Mrs. John Henry (Sara Elizabeth Lawry)",female,29.0,2,26.0000
139,"Goodwin, Mr. Charles Frederick",male,40.0,3,46.9000
142,"Ryerson, Mr. Arthur Larned",male,61.0,1,262.3750
145,"Vander Planke, Mr. Julius",male,31.0,3,18.0000
149,"Lahtinen, Rev. William",male,30.0,2,26.0000
159,"Peacock, Mrs. Benjamin (Edith Nile)",female,26.0,3,13.7750
165,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",female,26.0,3,22.0250
174,"Asplund, Mr. Carl Oscar Vilhelm Gustafsson",male,40.0,3,31.3875
178,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)",female,36.0,2,39.0000
190,"Angle, Mr. William A",male,34.0,2,26.0000
202,"Astor, Col. John Jacob",male,47.0,1,227.5250
210,"Andersen, Mr. Albert Karvin",male,32.0,3,22.5250
213,"Howard, Mrs. Benjamin (Ellen Truelove Arman)",female,60.0,2,26.0000
217,"Wick, Mr. George Dennick",male,57.0,1,164.8667
218,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50.0,1,211.5000
228,"Everett, Mr. Thomas James",male,40.5,3,15.1000
239,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.0,1,106.4250
241,"Christy, Mrs. (Alice Frances)",female,45.0,2,30.0000
242,"Spedden, Mr. Frederic Oakley",male,45.0,1,134.5000
247,"Drew, Mr. James Vivian",male,42.0,2,32.5000
248,"Hold, Mrs. Stephen (Annie Margaret Hill)",female,29.0,2,26.0000
260,"de Messemaeker, Mr. Guillaume Joseph",male,36.5,3,17.4000
262,"Wells, Mrs. Arthur Henry (Addie"" Dart Trevaskis)""",female,29.0,2,23.0000
277,"Faunthorpe, Mr. Harry",male,40.0,2,26.0000
309,"Hansen, Mrs. Claus Peter (Jennie L Howard)",female,45.0,3,14.1083
314,"White, Mrs. John Stuart (Ella Holmes)",female,55.0,1,135.6333
316,"Spencer, Mr. William Augustus",male,57.0,1,146.5208
328,"Clarke, Mr. Charles Valentine",male,29.0,2,26.0000
330,"Davies, Mrs. John Morgan (Elizabeth Agnes Mary...",female,48.0,2,36.7500
343,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.0,1,512.3292
353,"Herman, Mr. Samuel",male,49.0,2,65.0000
359,"Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...",female,30.0,3,15.5500
375,"Bowen, Miss. Grace Scott",female,45.0,1,262.3750
394,"Kink-Heilmann, Mr. Anton",male,29.0,3,22.0250
407,"Widener, Mr. George Dunton",male,50.0,1,211.5000

In [ ]:
df.assign(
    mean_Age_by_class = df.groupby('Sex')['Age'].transform('mean')
).query(
    "Age > mean_Age_by_class"
)[['Name','Sex','Age','mean_Age_by_class']]

,Name,Sex,Age,mean_Age_by_class
0,"Kelly, Mr. James",male,34.5,30.272732
1,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,30.272362
2,"Myles, Mr. Thomas Francis",male,62.0,30.272732
11,"Jones, Mr. Charles Cresson",male,46.0,30.272732
13,"Howard, Mr. Benjamin",male,63.0,30.272732
...,...,...,...,...
404,"Frauenthal, Mr. Isaac Gerald",male,43.0,30.272732
407,"Widener, Mr. George Dunton",male,50.0,30.272732
411,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,30.272362
414,"Oliva y Ocana, Dona. Fermina",female,39.0,30.272362
415,"Saether, Mr. Simon Sivertsen",male,38.5,30.272732

In [ ]:
df.assign(
    mean_fare_by_embarked = df.groupby('Embarked')['Fare'].transform('mean')
).query(
    "Fare > mean_fare_by_embarked and Age.isnull()"
)[['Name','Embarked','Fare','mean_fare_by_embarked']]

,Name,Embarked,Fare,mean_fare_by_embarked
22,"Flegenheim, Mrs. Alfred (Antoinette)",S,31.6833,28.230436
39,"Hee, Mr. Ling",S,56.4958,28.230436
127,"McCoy, Miss. Alicia",Q,23.2500,10.957700
146,"Hilliard, Mr. Herbert Henry",S,51.8625,28.230436
188,"Sage, Miss. Ada",S,69.5500,28.230436
200,"Murphy, Miss. Nora",Q,15.5000,10.957700
273,"Lennon, Miss. Mary",Q,15.5000,10.957700
290,"Rheims, Mr. George Alexander Lucien",S,39.6000,28.230436
342,"Sage, Mr. John George",S,69.5500,28.230436
365,"Sage, Mrs. John (Annie Bullen)",S,69.5500,28.230436